body {
  font-family: 'EB Garamond', Garamond, serif;  
}

.header {
    display: flex;
    align-items: stretch; 
    padding: 20px;
    gap: 10px;
    max-height: 250px;
}

.header-photo {
    flex: 1;
    max-width: 33%;
}

.header-photo img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 150px;
    border-radius: 8px;
    object-fit: contain;
}

.header-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-info h1 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.header-info nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header-info nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.header-photo {
    border: 2px solid red;
}

.header-info {
    border: 2px solid blue;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 300px;
}

.sidebar {
    flex: 1;
    max-width: 33%;
    position: sticky;
    top: 20px;
    background-color: yellowgreen;
    padding: 15px;
    border-radius: 10px;
}

.main-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 5px solid black;
    max-height: 80px;
}

.footer-left {
    flex: 1;
    max-width: 33%;
}

.footer-info {
    flex: 2;
    font-size: 0.9rem;
    color: #666;
    padding-left: 15px;
    text-align: center;
}


html {
    scroll-behavior: smooth;
}

.main-content section {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}