body {
  font-family: 'EB Garamond', Garamond, serif;  
}

.header {
    display: flex;
    align-items: stretch; 
    padding: 20px;
    gap: 10px;
    max-height: 250px;
    
}

.header-photo {
    flex: 1;
    max-width: 33%;
}

.header-photo img {
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 150px;
    border-radius: 8px;
    object-fit: contain;
}

.header-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #c4e2e1;
}

.header-info h1 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.header-info nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header-info nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.header-photo {
    border: 4px solid midnightblue;
}

.header-info {
    border: 4px solid midnightblue;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 325px;
}

.sidebar {
    flex: 1;
    max-width: 33%;
    position: sticky;
    top: 20px;
    background-color: #c4e2c9;
    padding: 15px;
    border-radius: 10px;
}

.main-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#home {
    background-color: #e2e2c4;
}

#education {
    background-color: #d0e2c4;
}

#contact {
    background-color: #c4e2cb;
}

#downloadcv {
    background-color: #c4e2dc;
    height: 150px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 5px solid teal;
    max-height: 80px;
    background-color: #5b8c66;
}

.footer-left {
    flex: 1;
    max-width: 33%;
    color: white;
}

.footer-info {
    flex: 2;
    font-size: 0.9rem;
    color: white;
    padding-left: 15px;
    text-align: center;
}


html {
    scroll-behavior: smooth;
}

.main-content section {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}